<form action="" #userform="ngForm" (ngSubmit)="getData(userform)">
<div class="main d-flex flex-column justify-content-sm-center">
  <br><br>

  <h2 class="type">Accident / Injury</h2>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter the details</label>
    <textarea ngModel name="Injury" class="form-control" id="exampleFormControlTextarea" rows="2"></textarea>
  </div>
  <br>
  <div class="d-flex flex-row">
    <h2 class="type">Snake Bite</h2>
    <div class="text">
        <a [color]="test?'accent':''" (click)="change()" mat-raised-button>Yes</a>
        <a [color]="test1?'accent':''" (click)="change1()" mat-raised-button>No</a>
    </div>
  </div>
  <br>
  <h2 class="type">If Yes, Name of snake</h2>
  <div class="mb-3 d-flex flex-column">
    <label for="exampleFormControlTextarea1" class="form-label">Enter the name</label>
    <input type="text" style="width:150px;border-color: black;border-width: 1px;" ngModel name="NameOfSnake" id="" matInput >
  </div>
  <div class="d-flex flex-row">
    <h2 class="type" style="margin-top: 2%;">Registration Documents</h2>

    <a type="menu" style="height: fit-content;" class="text" onclick="document.getElementById('ele').click()" mat-raised-button color="accent"><input id="ele" style="display:none" type="file" (change)="selectFile($event)"> Upload</a>
    <div [innerHtml]="text" style="width: 100px;color: red;position: absolute;left: 92%;margin-top: 14%;"></div>
    <div [innerHtml]="msg" style="width: 100px;color: red;position: absolute;left:92%;margin-top: 14%;"></div>
    
  </div>
  <br><br><br>
  

  <br><br><br><br>

</div>
<div class="button center d-flex flex justify-content-center">
    <button style="width: 320px;" mat-raised-button color="accent" type="submit" >Submit</button>

</div>

<div style="position:relative;top:720px;height: 50px;background-color:white;">
    <br><br>
</div>
</form>