.main{
    position: relative;
    margin-left: 35vw;
    width:350px;
    display: flex;
    flex-direction: column;
}

.type{
    font-size: 1.5em;
}
.datepicker{
    position: absolute;
    left: 120%;
    margin-top: -0.7%;
}
.picstore{ 
    width: 200px;
    height: 200px; 
    background-image: url(https://static.thenounproject.com/png/556468-200.png);
}
.textnew{
      width: 150px;
    height: 21.36px;
    margin-left:8%;
    margin-top: 2%;
    
    
   
}
.text{
    position: absolute;
    align-items: center;
    left: 92%;
    margin-top: 2%;
    width: 138.12px;
    height: 21.36px;
}
.form{
    position: absolute;
    right: 0%;
}
#select{

position: absolute;
padding: 0px 16px;
left: 92%;
width: 150px;
height: 21.36px;
margin-left: 8%;


/* Neutral / White */

background: #FFFFFF;
/* Action Primary / Active */

border: 0.1px solid #272626;
box-sizing: border-box;
margin-top: 2%;

/* Inside Auto Layout */


    
}
.form-control{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

position: static;
width: 320px;
height: 96px;
left: 0px;
top: 28px;

/* Neutral / White */

background: #FFFFFF;
/* Action Primary / Active */

border: 2px solid #080808;
box-sizing: border-box;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
@media screen and (max-width: 921px){
    .main{
        margin-left: 25vw;
        width: 250px;
    }
    .datepicker{
        left: 130%;
        margin-top: -1.6%;
    }

}
.button{
    display: flex;
    
}
.center{
    justify-content: center;
    flex-direction: row;
    position:relative;
    
}
@media screen and (max-width: 721px){
    .main{
        margin-left: 20vw;
    }
   

}
@media screen and (max-width: 621px){
    .main{
        margin-left: 15vw;
    }
    

}
@media screen and (max-width: 560px){
    .main{
        margin-left: 10vw;
        
    }


}
@media screen and (max-width: 461px){
    .main{
        margin-left: 8vw;
        width: 210px;
    }
    .datepicker{
        left: 133%;
        margin-top: -2%;
    }
    

}
@media screen and (max-width: 421px){
    .main{
        margin-left: 5vw;
    }
    

}
@media screen and (max-width: 351px){
    .main{
        margin-left: 3vw;
    }
    

}
